# Azure OpenAI configuration
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-01
RESEARCH_AGENT_MODEL=gpt-4o

# Tavily configuration
TAVILY_API_KEY=tvly-your_tavily_api_key_here

#Debug mode
DEBUG=false
